<div ng-controller="ProductController">
    <div class="widget">
      <div class="widget-header bordered-bottom bordered-pink">
          <span class="widget-caption">Product</span>
      </div>
      <div class="widget-body">            
        <form class="form-horizontal" name="productform">
            <div class="row">
                <div class="col-md-6">
                    <input placeholder="Name" class="form-control" ng-model="p.name" required="">
                    <div class="horizontal-space"></div>
                </div>
                <div class="col-md-6">
                    <input placeholder="Price" class="form-control" ng-model="p.price" required="">
                    <div class="horizontal-space"></div>
                </div>
            </div>
            <textarea class="form-control" rows="3" placeholder="Description" ng-model="p.description" required=""></textarea>
            <div class="horizontal-space"></div>
            <div>
                <button ng-disabled="productform.$invalid" ng-click="submitProduct(p)" class="btn btn-default">Add New</button>
            </div>
        </form>
            <div class="horizontal-space"></div>
        <table class="table table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in products">
		    <th scope="row">{{ $index + 1}}</th>
              <td>{{ p.name }}</td>
              <td>{{ p.description }}</td>
              <td>{{ p.price }}</td>
            </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
