<div ng-controller="RetailController">
    <div>        
        {{3+4}}
    </div>

    <div ng-repeat="p in products">
      <div style="margin-left: 20px;">
          name: {{ p.name }} <br/>
          description: {{ p.description }} <br/>
          price: {{ p.price }} <br/>          
          <hr/>
      </div>
  </div>
</div>